{{ define "setup" }}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="noindex,nofollow">
    <title>mcup-server 安装程序</title>
    <link href="/static/setup/index.css" rel="stylesheet" crossorigin="anonymous">
      </head>

  <body class="bg-secondary">
    <div class="text-right m-2 p-2">
      <a href="https://skin.1szt.com/setup?lang=zh_CN"
      class="mx-2 p-1 label label-secondary"
    >中文 (简体)</a>
      <a href="https://skin.1szt.com/setup?lang=zh_TW"
      class="mx-2 p-1 label label-secondary"
    >中文 (正體)</a>
      <a href="https://skin.1szt.com/setup?lang=en"
      class="mx-2 p-1 label label-secondary"
    >English</a>
      <a href="https://skin.1szt.com/setup?lang=es_ES"
      class="mx-2 p-1 label label-secondary"
    >Español</a>
      <a href="https://skin.1szt.com/setup?lang=ru_RU"
      class="mx-2 p-1 label label-secondary"
    >Русский язык</a>
  </div>

    <div class="hero d-flex">
      <div class="hero-body">
        <h1 class="text-center">
          <a class="text-primary" href="https://github.com/bs-community/blessing-skin-server">
            mcup-server&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </a>
        </h1>
        <div class="divider"></div>
        <h3>欢迎</h3>
        <div class="divider"></div>
          <p>欢迎使用 mcup-server v0.0.1！</p>
  <p class="step">
    <a href="https://skin.1szt.com/setup/database" class="btn btn-primary">
      下一步
    </a>
  </p>
      </div>
    </div>
      </body>
</html>
{{ end }}